
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read and write to their own documents.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Bike models are public, readable by any authenticated user.
    // Writing is allowed for any authenticated user to support admin functions.
    match /bikeModels/{bikeId} {
        allow read, write: if request.auth != null;
    }

    // Master components are public, readable by any authenticated user.
    // Writing is allowed for any authenticated user to support admin functions.
    match /masterComponents/{componentId} {
        allow read, write: if request.auth != null;
    }
  }
}
